html:has(.theme-ethdenver24) {
    body, html {
        @apply bg-[#888CDC] text-[#1D1C47];
    }
    body:before {
        content: '';
        @apply fixed inset-0 -z-10 opacity-25;
        background: url('/ethdenver24/bg.svg') no-repeat center center;
    }
    .btn {
        @apply bg-[#1D1C47] hover:bg-[#0C0B3E] active:bg-[#0C0B3E] text-white font-bold;
    }
    .btn.minting {
        @apply !bg-[#0C0B3E] !border-[#3E3D70] !text-[#3E3D70] border;
    }
    .card-bg {
        @apply bg-[#0C0B3E];
    }
    .card-body {
        @apply text-white;
    }
    .link {
        @apply text-ens-light-blue-primary underline;
    }
    .card-body .btn {
        @apply bg-[#3E3D70] focus:bg-[#1D1C47] hover:bg-[#1D1C47] active:bg-[#1D1C47];
    }
    .card-body input {
        @apply bg-[#3E3D70] border-transparent focus:border-ens-light-blue-primary border-2 outline-ens-light-blue-primary focus:outline-ens-light-blue-primary;
    }
}
