@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply bg-[#7116EB] relative rounded-lg flex items-center justify-center gap-2 hover:bg-[#781dff] transition-colors duration-200 ease-in-out active:bg-[#5e0fc8];
}

.balance {
    text-wrap: pretty;
    text-wrap: balance;
}

.animate-creeper-out {
    animation: creeper-out 0.5s ease-in-out forwards;
}

@keyframes creeper-out {
    0% {
        transform: scale(1) translateY(0);
    }
    10% {
        transform: scale(1.05) translateY(-10%);
    }
    99% {
        transform: scale(0.95) translateY(100%) rotate(5deg);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
